@charset "utf-8";
@font-face {
    font-family: RobotoRegular;
    src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: RobotoMedium;
    src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff"),
    url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: RobotoBold;
    src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff"),
    url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* ГЛОБАЛЬНЫЕ НАСТРОЙКИ */

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  color: #000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);  
}

a {
  text-decoration: none;
}

.navigation {
  background-color: #EEEEEE;
}
.navigation,
.slider-list,
.self-advertising-leftcolumn,
.self-advertising-rightcolumn-text ul,
.footer-social ul,
.filter-sequencer ul,
.filter-type ul,
.filter-extra ul,
.visible-in-hovard,
.catalog-pagination {
  list-style: none;
}
.header-logo,
.navigation a,
.basket a {
  color: #000000;
}
.navigation a:hover,
.navigation a:focus,
.basket a:hover,
.basket a:focus {
  color: #fb565a;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* ГЛОБАЛЬНЫЕ НАСТРОЙКИ */
/* ШРИФТЫ */

.site-navigation a,
.filter-button {
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
}
h1,
.slider-item h3 {
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-transform: none;
}
.slider-item p,
.slogan,
.self-advertising-leftcolumn p,
.self-advertising-leftcolumn li {
  font-family: RobotoRegular, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  text-transform: none;
}
.button,
.pagination-item a {
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}
.offered-service h3 {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #283136;
}
.self-advertising-leftcolumn h3,
.feedback-form h2 {
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
  text-transform: none;
}
.self-advertising h4 {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.self-advertising-rightcolumn-text li,
.footer-conectiondata p,
.filter-price label,
.filter-option label,
.filter-extra li {
  font-family: RobotoRegular, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;
  text-transform: none;
}
.self-advertising-rightcolumn-text span {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}
.footer-conectiondata strong,
.column-headings .label,
.filter-type legend,
.filter-extra legend {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.feedback-item label {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #283136;
}
.footer-social .b {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: none;
}
.footer-social p {
  font-family: RobotoRegular, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
  text-transform: none;
}
.filter-sequencer li {
font-family: RobotoRegular, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.item-title {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.item-description {
  font-family: RobotoRegular, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  text-transform: none;
}

/* ШРИФТЫ */
/* ОФОРМЛЕНИЕ МЕНЮ */




/* ОФОРМЛЕНИЕ МЕНЮ */

/* Слайдер в index */
.slider {
  position: relative;
  background-color: #EEEEEE;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
    
  
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}
.slider-list {
  margin: 0;
  padding: 0;
}
.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}
/*.slider-item:nth-child(1) {
  display: blo ck;
}*/
.slider-item:nth-child(1) {
  background-image: url("../img/index-slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/index-slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/index-slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* Слайдер в index */






















