@charset "utf-8";
@font-face {
    font-family: RobotoRegular;
    src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: RobotoMedium;
    src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff"),
    url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: RobotoBold;
    src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff"),
    url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* ГЛОБАЛЬНЫЕ НАСТРОЙКИ */
body {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background-color: #FFFFFF;
  color: #000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);  
}
a {
  text-decoration: none;
}
.navigation {
  background-color: #EEEEEE;
}
.navigation,
.slider-list,
.self-advertising-leftcolumn ul,
.self-advertising-rightcolumn ul,
.footer-social ul,
.filter-sequencer ul,
.filter-type ul,
.filter-extra ul,
.visible-in-hovard,
.catalog-pagination {
  list-style: none;
}
.header-logo,
.navigation a,
.basket a {
  color: #000000;
}
.navigation a:hover,
.navigation a:focus,
.basket a:hover,
.basket a:focus {
  color: #fb565a;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
}
/* ГЛОБАЛЬНЫЕ НАСТРОЙКИ */

/* ШРИФТЫ */

.site-navigation a,
a.basket,
.filter-button {
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
}
h1,
.slider-item h3 {
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-transform: none;
}
.slider-item p,
.slogan,
.self-advertising-leftcolumn p,
.self-advertising-leftcolumn li {
  font-family: RobotoRegular, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  text-transform: none;
}
.button,
.pagination-item a {
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}
.offered-service h3 {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #283136;
}
.self-advertising-leftcolumn h3,
.feedback h2 {
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
  text-transform: none;
  margin: 0;
}
.self-advertising h4 {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.self-advertising-rightcolumn-text li,
.map-block p,
.filter-price label,
.filter-option label,
.filter-extra li {
  font-family: RobotoRegular, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;
  text-transform: none;
}
.self-advertising-rightcolumn-text span {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}
.map-block h3,
.column-headings .label,
.filter-type legend,
.filter-extra legend {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.feedback label {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #283136;
  text-transform: none;
}
.feedback label input,
.feedback label textarea{
  font-family: RobotoRegular, Arial, sans-serif;
  font-weight: 400;
}
.footer-social .footer-title {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: none;
}
.footer-social p {
  font-family: RobotoRegular, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
  text-transform: none;
}
.filter-sequencer li {
font-family: RobotoRegular, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.item-title {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.item-description {
  font-family: RobotoRegular, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  text-transform: none;
}
/* ШРИФТЫ */


/* ОФОРМЛЕНИЕ МЕНЮ */
.header {
  background-color: #eeeeee;
}
.header-logo:hover,
.header-logo:focus {
  opacity: .8;
}
.header-logo:active {
  opacity: .3;
}
.header .header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.site-navigation {
  flex: 1;
  text-align: center;
  font-size: 0;
  margin-left: -50px;
  margin-bottom: -10px;
}
.site-navigation a {
  display: inline-block;
  margin-left: 50px;
  font-size: 16px;
  border-bottom: solid 2px transparent;
  padding-bottom: 10px;
}
.header a.basket {
  border-bottom: solid 2px transparent;
  padding-bottom: 10px;
  margin-bottom: -10px;
}
.header .current {
  border-color: #fb565a;
}
.header a.basket:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 25px;
  vertical-align: middle;
  background: url(../img/cart-icon.svg) no-repeat center center;
}
.site-navigation a:hover,
.site-navigation a:focus,
a.basket:hover,
a.basket:focus {
  color: #fb565a;
}
.site-navigation a:active,
a.basket:active {
  opacity: .3;
}
a.basket:active:before {/*эта херня не сработала, корзина опасится*/
  opacity: 1;
}
/* ОФОРМЛЕНИЕ МЕНЮ */

/* СЛАЙДЕР В index */
.slider {
  position: relative;
  background-color: #EEEEEE;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}
.slider-list {
  margin: 0;
  padding: 0;
}
.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}
.slider-item:nth-child(1) {
  background-image: url("../img/index-slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}
.slider-item:nth-child(2) {
  background-image: url("../img/index-slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.slider-item:nth-child(3) {
  background-image: url("../img/index-slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}
#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}
.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #e74246;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
/* СЛАЙДЕР В index */


/* СЕКЦИЯ СЕРВИС */
.service {
  display: flex;
  max-width: 1100px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 80px 0;
}
.service article {
  max-width: 300px;
}
.offered-service p {
  max-width: 250px;
}
.service .button {
  width: 160px;
}
.app-site .button {
  background-color: #00ca74;
}
.presentation-site .button {
  background-color: #efc84a;
}
.app-site .button:hover,
.app-site .button:focus {
  background-color: #00bc6c;
}
.app-site.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.presentation-site .button:hover,
.presentation-site .button:focus {
  background-color: #eab534;
}
.presentation-site .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
/* СЕКЦИЯ СЕРВИС */

/* СЕКЦИЯ self-advertising */
.self-advertising {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 40px 0;
  border-bottom: solid 2px #eeeeee;
  border-top: solid 2px #eeeeee;
}
.self-advertising .self-advertising-leftcolumn {
  flex: 1;
  max-width: 700px;
}
.self-advertising-leftcolumn > div {
  margin-top: 40px;
}

.self-advertising-leftcolumn p {
  width: 615px;
  margin: 10px 0;
}
.self-advertising-leftcolumn li {
  position: relative;
  padding-bottom: 20px;
}
.self-advertising-leftcolumn li:before {
  position: absolute;
  top: 9px;
  left: -38px;
  width: 25px;
  content: "";
  border: 1px solid #fb565a;
}
.self-advertising-rightcolumn-text h4 {
  text-align: center;
}
.self-advertising-rightcolumn-text ul {
  padding: 0;
}
.self-advertising-rightcolumn-text sup {
  top: -0.25em;
}
.self-advertising-rightcolumn-text li {
  display: inline-block;
  justify-content: space-between;
  padding-right: 5px;
  align-items: flex-start;
  flex-wrap: wrap;
}
.self-advertising-rightcolumn-text span {
  display: block;
  margin: 20px 0 10px;
}
/* СЕКЦИЯ self-advertising */

/* СЕКЦИЯ advertising */
.advertising {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding:  40px 0;
  border-bottom: solid 2px #eeeeee;
}
.advertising div {
  padding-left: 30px;
  padding-right: 30px;
}
.advertising-blok img {
  opacity: .2;
}
.advertising-blok img:hover,
.advertising-blok img:focus {
  opacity: 1;
}
.advertising-blok img:active {
  opacity: .1;
}


/* СЕКЦИЯ advertising */

/* ФУТЕР */
.map {
  padding-top: 40px;
}
.img-map > img{
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/*----Кнопки соц сети-------------------------*/
.footer-btn {
    position: relative;
    width: 80px;
    height: 80px;
    line-height: 50px;
    border-radius: 50%;
    background: #e1e1e1;
}

.footer-btn:hover {
    background-color: #fb565a;
}

.footer-btn:active {
    box-shadow: inset 0 3px 0 0 #b63e42;
    background-color: #d6494d;
}

.footer-btn-vk:before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 26px;
    height: 15px;
    vertical-align: middle;
    background: url(../img/vk-icon.svg) no-repeat center center
}
/*----Кнопки соц сети-------------------------*/

/* ФУТЕР */

/* ВЕРСТКА СКРЫТОЙ ФОРМЫ */
.feedback {
  position: fixed;
  display: none;
  max-width: 960px; 
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
  padding: 65px 100px 85px;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
  background: #FFFFFF;
  z-index: 1000;
}
.feedback h2{
  margin-bottom: 35px;
}
.feedback-close-btn {
  position: absolute;
  right: 90px;
  top: 80px;
  opacity: .3;
  display: block;
  background: url(../img/close-cross.svg) no-repeat center center;
  width: 20px;
  height: 20px;
}
.feedback-close-btn:hover{
  opacity: 1;
}
.feedback-close-btn:active{
  opacity: .1;
}
.feedback .row {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
  margin-bottom: 35px;
}
.feedback .row .col{
  flex: 1;
  margin-left: 30px;
}
.feedback input,
.feedback textarea {
  display: block;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 15px;
  border: solid 2px #d7dcde;
  border-radius: 2px;
  outline: none;
}
.feedback textarea {
  width: 100%;
  margin-bottom: 45px;
  max-width: 100%;
  min-width: 100%;
}
.feedback input:hover,
.feedback textarea:hover {
  border-color: #b4b9bb;
}
.feedback input:focus,
.feedback textarea:focus {
  border-color: #000000;
  color: #000000;
}
.feedback input.error::placeholder,
.feedback textarea.error::placeholder,
.feedback input.error,
.feedback textarea.error {
  border-color: #e74246;
  color: #e74246;
}
/* ВЕРСТКА СКРЫТОЙ ФОРМЫ */

