@charset "utf-8";
@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff"),
  url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RobotoMedium;
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff"),
  url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RobotoBold;
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff"),
  url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background-color: #FFFFFF;
  color: #000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);  
}
a {
  text-decoration: none;
  color: #000000;
}
.navigation {
  background-color: #EEEEEE;
}
.navigation,
.slider-list,
.self-advertising-leftcolumn ul,
.self-advertising-rightcolumn ul,
.footer-social ul,
.filter-sequencer ul,
.filter-type ul,
.filter-extra ul,
.visible-in-hovard,
.catalog-pagination {
  list-style: none;
}
.header-logo,
.navigation a,
.basket a {
  color: #000000;
}
.navigation a:hover,
.navigation a:focus,
.basket a:hover,
.basket a:focus {
  color: #fb565a;
}
.container {
  max-width: 1200px;
  min-width: 1160px;
  margin: auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.site-navigation a,
a.basket,
.filter-button {
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
}
h1,
.slider-item h3 {
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-transform: none;
}
.slider-item p,
.slogan,
.self-advertising-leftcolumn p,
.self-advertising-leftcolumn li {
  font-family: RobotoRegular, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  text-transform: none;
}
.button,
.pagination-item a,
.catalog-pagination {
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}
.offered-service h3 {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #283136;
}
.column-headings .label-price,
.column-headings .label-sort {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}
.filter-option-sequencer a {
  font-family: RobotoRegular, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.self-advertising-leftcolumn h3,
.feedback h2 {
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
  text-transform: none;
  margin: 0;
}
.self-advertising h4 {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.self-advertising-rightcolumn-text li,
.map-block p,
.filter-price label,
.filter-option label,
.filter-extra li,
a.map-block-info {
  font-family: RobotoRegular, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;
  text-transform: none;
}
.self-advertising-rightcolumn-text span {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}
.map-block h3,
.column-headings .label,
.filter-type legend,
.filter-extra legend {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.feedback label {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #283136;
  text-transform: none;
}
.feedback label input,
.feedback label textarea,
.filter-price-from input {
  font-family: RobotoRegular, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.footer-social .footer-title {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: none;
}
.footer-social p {
  font-family: RobotoRegular, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
  text-transform: none;
}
.filter-sequencer li {
font-family: RobotoRegular, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.item-title {
  font-family: RobotoBold, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.item-description {
  font-family: RobotoRegular, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  text-transform: none;
}
.header {
  background-color: #eeeeee;
  padding-top: 47px;
}
.header-logo {
  margin: 0;
}
.header .header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.site-navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 0;
  margin-left: -88px;
  margin-bottom: -26px;
}
.site-navigation a {
  display: inline-block;
  margin-left: 46px;
  font-size: 16px;
  border-bottom: solid 2px transparent;
  padding-bottom: 10px;
  vertical-align: baseline;
}
.header a.basket {
  border-bottom: solid 2px transparent;
  padding-bottom: 10px;
  margin-bottom: -26px;
}
.header .current {
  border-color: #fb565a;
}
.header a.basket:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 25px;
  vertical-align: middle;
  background: url(../img/cart-icon.svg) no-repeat center center;
}
.header-logo:hover,
.header-logo:focus {
  opacity: .8;
}
.header-logo:active {
  opacity: .3;
}
.site-navigation a:hover,
.site-navigation a:focus,
a.basket:hover,
a.basket:focus {
  color: #fb565a;
}
.site-navigation a:active,
a.basket:active {
  color: #bdbdbd;
}
.slider {
  position: relative;
  background-color: #EEEEEE;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}
.slider-list {
  margin: 0;
  padding: 0;
}
.slider-item {
  display: none;
  padding: 75px 0 80px 0;
}
.slider-item:nth-child(1) {
  background-image: url("../img/index-slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}
.slider-item:nth-child(2) {
  background-image: url("../img/index-slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.slider-item:nth-child(3) {
  background-image: url("../img/index-slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}
#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}
.button {
  display: block;
  width: 240px;
  padding: 15px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  outline: none;
}
.button:hover,
.button:focus {
  background-color: #e74246;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 0 93px 0;
}
.service article {
  max-width: 300px;
}
.offered-service p {
  max-width: 250px;
  margin-top: -6px;
}
.service .button {
  width: 160px;
  position: relative;
  top: 17px;
  padding: 15px 0;
}
.app-site .button {
  background-color: #00ca74;
}
.presentation-site .button {
  background-color: #efc84a;
}
.app-site .button:hover,
.app-site .button:focus {
  background-color: #00bc6c;
}
.app-site.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.presentation-site .button:hover,
.presentation-site .button:focus {
  background-color: #eab534;
}
.presentation-site .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.self-advertising {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
  padding: 30px 0 30px 0;
  border-bottom: solid 2px #eeeeee;
  border-top: solid 2px #eeeeee;
}
.self-advertising .self-advertising-leftcolumn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 700px;
}
.self-advertising-leftcolumn .motto {
  margin-top: 40px;
  margin-bottom: 36px;
}
.self-advertising-leftcolumn p {
  width: 615px;
  margin: 36px 0 20px 0;
}
.self-advertising-leftcolumn li {
  position: relative;
  padding-bottom: 25px;
}
.self-advertising-leftcolumn li:before {
  position: absolute;
  top: 9px;
  left: -38px;
  width: 25px;
  content: "";
  border: 1px solid #fb565a;
}
.self-advertising-rightcolumn-text h4 {
  text-align: center;
  margin-top: 37px;
  margin-bottom: 39px;
}
.self-advertising-rightcolumn-text ul {
  padding: 0;
}
.self-advertising-rightcolumn-text sup {
  top: -0.25em;
}
.self-advertising-rightcolumn-text li {
  display: inline-block;
  vertical-align: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 13px;
  line-height: 22px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.self-advertising-rightcolumn-text span {
  display: block;
  margin: 20px 0 10px;
}
.advertising {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
      -ms-flex-pack: space-around;
          justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding:  50px 0;
  border-bottom: solid 2px #eeeeee;
}
.advertising a {
  line-height: 90px;
}
.advertising-blok img {
  opacity: .2;
  display: inline-block;
  vertical-align: middle;
}
.advertising-blok img:hover,
.advertising-blok img:focus {
  opacity: 1;
}
.advertising-blok img:active {
  opacity: .1;
}
.advertising a:after {
  content: "";
  display: inline-block;
  border-right: solid 2px #000000;
  opacity: .2;
  height: 55px;
  vertical-align: middle;
  margin: 0 30px;
}
.advertising .blok4:after {
  content: "";
  border-right: none;
  margin: 0;
}
.catalog-header {
  padding: 100px 0 100px 0;
}
.page-title {
  text-align: center;
  margin-top: 80px;
}
.column-headings,
.filter-sequencer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 5px;
}
.column-headings .label-price {
  width: 260px;
  margin-top: 60px;
  margin-right: 140px;
}
.column-headings .label-sort,
.column-headings .filter-sequencer {
  width: 360px;
  margin-top: 60px;
  margin-bottom: 50px;
}
.filter-sequencer {
  margin-left: 40px;
}
.filter-sequencer fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.filter-sequencer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  margin: 0;
}
.filter-sequencer a {
  margin-right: 23px;
}
.filter-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.filter-arrow a {
  margin: 0 0 0 20px;
}
.filter-option-sequencer a,
.filter-option-sequencer a {
  opacity: .3;
}
.filter-option-sequencer a:hover,
.filter-option-sequencer a:focus {
  opacity: .6;
}
.filter-option-sequencer a:active {
  opacity: 1;
}
a.button-price,
a.button-appointment-down {
  opacity: 1;
}
.catalog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.catalog-container .filters-left {
  width: 260px;
  margin-right: 140px;
}
.filters-left fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.filters-left ul {
  padding: 0;
  margin: 0;
}
.filter-price-from input,
.filter-price-till input {
  width: 80px;
  height: 40px;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
  background-color: #eeeeee;
  border-radius: 3px;
  border: none;
}
fieldset.filter-type{
  margin-top: 55px;
}
fieldset.filter-extra {
  margin-top: 28px;
}
li.filter-option {
  margin-bottom: 18px;
}
.filters-left .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.row label {
  text-transform: uppercase;
}
.input-range {
  width: 260px;
  text-align: center;
  background-color: #eeeeee;
  height: 80px;
  line-height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  border: none;
}
.input-range .line {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 220px;
  height: 2px;
  margin: 0 auto;
  background-color: #d7dcde;  
}
.input-range .progress {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}
.input-range .from,
.input-range .to {
  position: absolute;
  left: 0%;
  margin-top: -9px;
  margin-left: -9px;
  width: 20px;
  height: 20px;
  background: url(../img/filter-button.svg) no-repeat center center;
  background-size: contain;
  cursor: pointer;
}
.input-range .to {
  left: 70%;
}
.filters-left legend{
  margin: 1px 0 9px 0;
}
.filters-left input[type="radio"] + label {
  display: block;
  background: url(../img/radio-off.svg) no-repeat left center;
  background-size: contain;
  padding-left: 35px;
  height: 23px;
  line-height: 23px;
  cursor: pointer;
}
.filters-left input[type="radio"]:checked + label {
  background: url(../img/radio-on.svg) no-repeat left center;
  background-size: contain;
}
.filters-left input[type="checkbox"] + label {
  display: block;
  background: url(../img/checkbox-off.svg) no-repeat left center;
  background-size: contain;
  padding-left: 35px;
  height: 23px;
  line-height: 23px;
  cursor: pointer;
}
.filters-left input[type="checkbox"]:checked + label {
  background: url(../img/checkbox-on.svg) no-repeat left center;
  background-size: contain;
}
.filter-button {
  width: 260px;
  margin-top: 28px;
  background-color: #eeeeee;
  font-family: RobotoMedium, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
}
button.filter-button:hover,
button.filter-button:focus {
  background-color: #dfdfdf;
}
button.filter-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d5d5d5;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.catalog-container .catalog {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.catalog-list ul {
  padding: 0;
  margin: 0;
}
.catalog-list .catalog-item {
  width: 360px;
  position: relative;
  margin-bottom: 40px;
  line-height: 0;
}
.catalog-item {
  margin-bottom: 35px;
}
.catalog-item .add {
  opacity: .12;
}
.catalog-item .visible-in-hovard {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 80px 40px;
  background-color: #eeeeee;
  opacity: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  text-align: center;
  word-break: break-all;
}
.catalog-item:hover .visible-in-hovard,
.catalog-item:hover .add {
  opacity: 1;
  cursor: auto;
}
.button-add-to-basket:hover {
  cursor: auto;
}
.catalog-item .button {
  width: 100%;
  padding: 13px 15px;
}
.catalog-item .button-add-to-basket {
  width: auto;
}
.catalog-item .item-description {
  margin: 20px -15px 30px;
}
.catalog-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  color: #000000;
  margin-bottom: -14px;
}
.catalog-pagination li {
  width: 50px;
  height: 50px;
  margin-right: 11px;
  line-height: 50px;
  border: solid 2px #eeeeee;
  background-color: #eeeeee;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border-radius: 2px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.catalog-pagination a {
  display: block;
}
.catalog-pagination li:last-child{
  width: 260px;
}
.catalog-pagination li:hover,
.catalog-pagination li:focus {
  border-color: #dfdfdf;
  background-color: #dfdfdf;
  color: #959595;
}
.catalog-pagination li:active {
  border-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(1,1,0,.1);
          box-shadow: inset 0 3px 0 0 rgba(1,1,0,.1);
  background-color: #d5d5d5;
}
.catalog-pagination li.current {
  border-color: #dbdbdb;
  background-color: transparent;
  cursor: default;
}
.catalog-pagination li.current:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.map {
  position: relative;
  margin-top: 80px;
}
.map-script {
  width: 100%;
  background: url(../img/map-marker.jpg) no-repeat center center;
  background-size: cover;
}
.map-block {
  position: absolute;
  z-index: 900;
  top: 50px;
  background-color: #ffffff;
  padding: 50px;
  overflow: auto;
  width: 320px;
  box-sizing: border-box;
}
.map-block-title {
  margin: 0;
}
.map-block-info {
  margin-top: 24px;
}
.map-btn {
  width: auto;
  margin-top: 39px;
}
.map-block a {
  text-transform: none;
}
.map iframe {
  width: 100%;
  border: none;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0;
  padding: 58px 0;
}
.footer-left-column{
  margin-left: 20px;
  font-size: 0;
}
.footer-btn {
  display: inline-block;
  vertical-align: baseline;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background: #e1e1e1;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}
.footer-btn img {
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: #fb565a;
}
.footer-btn:active {
  background-color: #d7373b;
}
.footer-btn:active img {
  opacity: .3;
}
.footer-right-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -106px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-social .footer-title {
  margin: 0;
}
.footer-social .footer-info {
  margin: 10px 0 0;
}
.feedback {
  position: fixed;
  display: none;
  max-width: 960px; 
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 65px 100px 85px;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
          box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
  background: #FFFFFF;
  z-index: 1000;
}
.modal-visible {
  display: block;
  -webkit-animation: showform .5s ease;
          animation: showform .5s ease;
}
.feedback h2{
  margin-bottom: 35px;
}
.feedback-close-btn {
  position: absolute;
  right: 90px;
  top: 80px;
  opacity: .3;
  display: block;
  background: url(../img/close-cross.svg) no-repeat center center;
  width: 20px;
  height: 20px;
}
.feedback-close-btn:hover{
  opacity: 1;
}
.feedback-close-btn:active{
  opacity: .1;
}
.feedback .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -30px;
  margin-bottom: 35px;
}
.feedback .row .col{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 30px;
}
.feedback input,
.feedback textarea {
  display: block;
  width: 100%;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  border: solid 2px #d7dcde;
  border-radius: 2px;
  outline: none;
}
.feedback textarea {
  width: 100%;
  margin-bottom: 45px;
  max-width: 100%;
  min-width: 100%;
}
.feedback input:hover,
.feedback textarea:hover {
  border-color: #b4b9bb;
}
.feedback input:focus,
.feedback textarea:focus {
  border-color: #000000;
  color: #000000;
}
.feedback input.error:placeholder,
.feedback textarea.error:placeholder,
.feedback input.error,
.feedback textarea.error {
  border-color: #e74246;
  color: #e74246;
}
.feedback input:invalid,
.feedback textarea:invalid {
  border-color: #e74246;
  color: #e74246;
}
@-webkit-keyframes showform {
  0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
  }
  70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
  }
  90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
  }
  100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
  }
}
@keyframes showform {
  0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
  }
  70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
  }
  90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
  }
  100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
  }
}